.educationContainer {
  background-color: #e1ebed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #dccfed;
  width: 98.5%;
  min-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  gap: 1rem;
}

.firstContainers {
  width: 85%;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #291c3a;
}

.secondContainers {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  gap: 0.25rem;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  border-left: #291c3a solid 5px;
}

.years {
  line-height: 1rem;
  font-weight: 500;
}

.para {
  font-weight: normal;
}

@media screen and (max-width: 1279px) {
  .container {
    gap: 0.75rem;
  }
  .secondContainers {
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-height: 800px) {
  .container {
    min-height: fit-content;
  }
  .secondContainers {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 587px) {
  .heading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 384px) {
  .heading {
    font-size: 1.5rem;
  }
}
