.container {
  background-color: #e1ebed;
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 2%;
  gap: 1rem;
}

.firstContainers {
  width: 85%;
}

.heading {
  font-size: 2.75rem;
  font-weight: 700;
  color: #291c3a;
}

.secondContainers {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2%;
  gap: 1.5rem;
}

.skillsContainers {
  width: 90%;
  height: max-content;
  background-color: #dccfedb7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  flex-wrap: wrap;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  border: #291c3a solid 1px;
}

.skillsDiv {
  width: max-content;
  height: 3.25rem;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.783) solid 0.5px;
  transition: all ease 1s;
  cursor: default;
}

.skillsDiv:hover {
  scale: 1.1;
}

.para {
  font-size: larger;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1279px) {
  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .secondContainers {
    margin-bottom: 3.5%;
  }
}

@media screen and (min-height: 800px) {
  .container {
    min-height: max-content;
  }
}
